.footer {
  background: #000;
  position:relative;
  /* bottom:0!important; */
  z-index: 1030;
}
.footer_title{
  font-family: itc-american-typewriter, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
  color:#DD3431;
  margin-bottom: 1rem;
}
.footer_sub{
  font-family: itc-american-typewriter, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10pt;

}
.footer_icon{
  width:40px;
  height:40px;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 50%;
  background-color:#DD3431;
}
.icon_container{
  padding-left:16px;
}


.saturn{
  position: absolute;
  top:30%;
  left:25%;
  width:10vw;
}
.astronaut{
  position: absolute;
  bottom:0;
  right:25%;
  width:7vw;
}
.saturn img,.astronaut img{
  object-fit: cover;
}
@media print {
   .logo-footer{
     max-width: 30% !important;
   }
}
