.main_title{
  font-family: itc-american-typewriter, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
}
.secondary_title{
  font-family: itc-american-typewriter, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18pt;
  color:#DD3431;
}
.color_secondary{
  color:#DD3431;
}
.highlight{
  color:#DD3431;
  text-decoration: underline;
}

.landing_b_body{
  background-color: #000;
}

.hero_landing{
  min-height: 100vh;
}

.planetita{
  max-width: 200px;
}

.button_column{
  background-color:#000;
  min-height: 100vh;
}

.red_bg{
  background:#DD3431;
  z-index: 2;
}

.img_bg_b{
  position: absolute;
  top:-25%;
  left:-5%;
  z-index: 1;
}
.section_success{
  position: relative;
}
.confetti_success{
  position:absolute;
  left:25%;
  top:-10%;
  width:50%;
}
.nav-link.active{
  font-weight: 700;
  text-decoration: underline;
}
.text-light.nav-link.active{
  color:#3c3c3c!important;
}

.b_section{
  position: relative;
}

.decoration{
  position:absolute;
}

.decor_1{
  right:-50%;
  top:10%;
}
.decor_1 img{
  max-width:60vw;
}
.decor_2{
  left:-20%;
}
.decor_2 img{
  max-height:60vh;
}
.decor_3{
  right:-10%;
}
.decor_3 img{
  max-height:60vh;
}
.decor_4{
  right:-40%;
}
.decor_4 img{
  max-height:40vh;
}


@media (min-width: 576px) {
  .main_title{
    font-size: 32pt;
  }
}
