/* misc */
.selectable {
  cursor: pointer;
}

/* Formas */
input.form-control.custom, textarea.form-control.custom {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #F01953;
    border-radius: 0;
}

/* Custom elements */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  min-width: 60px;
}
.switch-min{
  width: 32px;
  height: 17px;
}

.switch input {display:none;}

.slider:before {
  position: absolute;
  color:#3c3c3c;
  padding-left:5px;
  padding-top:5px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition:all .4s ease-in;
}

.slider-min:before {
  padding-left:2px;
  padding-top:1px;
  height:13px;
  width:13px;
  left: 2px;
  bottom: 2px;
  content:''
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider-min:before {
  content:'';
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider_range {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:25px;
    height:25px;
    border-radius: 50%;
    border:1px solid #3c3c3c;
    background:#3c3c3c;
    cursor: pointer;
}

.slider_range::-moz-range-thumb {
    width:25px;
    height:25px;
    border-radius: 50%;
    border:1px solid #3c3c3c;
    background:#3c3c3c;
    cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s ease-in;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s ease-in;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
